*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0%;
    background-image: url(./img/fondo.jpg);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoindex {
    text-align: center;
    color: whitesmoke
    
}
p {
    margin-bottom: 1.6em;
}


.grid-gallery {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30%;
    padding-left: 9%;
    margin-right: 180px;
}


.grid-gallery img {
    width: 100%;
   height: 150%;
   object-fit: cover;
}

.grid-gallery img:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid-item:nth-child(2) {
    grid-row-start: span 2;;
}

.container {
    max-width: 1200px;
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
}
.container li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.flex-menu {
    display: flex;
    margin-left: 20px;
    margin-top: 35px;
}
.logo {
    height: 110px;
    margin-top: 10px;
    
}
.container-menu {
    display: flex;
    min-height: 70px;
    background: gold;
    color: white;
    height: 130px;
    width: 100%;
    padding: 0px 20px;
}

@keyframes efecto {
    0% {
       background: gold;
       width: 100%;
    }
    50% {
        background: coral;
        height: 130px;
    }
    100% {
        background: orangered;
        height: 130px;
    }

}

.animate {
    border: 1px solid #333;
    animation-name: efecto;
    animation-duration: 2.s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@media (max-width: 576px) {
    /* INDEX */
    .flex-menu {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .infoindex {
        text-align: center;
    }
    .grid-gallery {
        display: flex;
        flex-wrap: wrap;
        transition: all;
        transition-duration: 2s; 
        margin-right: 40px;
        width: 100%;
        gap: 10px;
    }
    footer {
        margin: 0 auto;
        
    }
    .foot {
       text-align: center;
    }
    .container-footer {
    display: flex;
    width: 85%;
    padding-left: 35px;
    gap: 25px;
    list-style: none;
    }

    /* ELEGÍ TU PC */

    .computadoras, .computadoras img, .computadoras-flex {
        width: 100%;
        padding: 1px;
        margin: 20px auto;
        transition: all;
        transition-duration: 2s; 
        display: flex;
        flex-wrap: wrap;        
    }
    .info {
        font-size: 18px;
        transition-duration: 2s;
        padding: 10px;
        text-align: center;
    }  
    .flex-menu {
        margin-top: 2px;
        margin-left: 20px;

    }

}


@media (min-width: 576px) and (max-width: 992px) {
    /* INDEX */
    .infoindex {
        text-align: center;
    }
    .grid-gallery {
        padding-left: 210px;
    }
    .container-footer {
        display: flex;
        width: 85%; 
        padding-left: 100px;
        gap: 20px;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

/* ELEGÍ TU PC */

.computadoras, .computadoras img, .computadoras-flex {
    padding: 1px;
    width: 100%;
    transition: all;
    transition-duration: 2s; 
}
  
.info {
    padding: 10px;
    font-size: 18px;
    transition-duration: 2s;
    text-align: center;
}  
}

@media (min-width: 992px) {
    
    /* INDEX */|
    
    main, .container, .infoindex {
     width: 100%;   
    }
    .grid-gallery {
        width: 80%;
    }
    .container-footer {
        display: flex;
        width: 85%;
        max-width: 880px;
        padding-left: 250px;
        gap: 25px;
        margin: 0 auto;
        text-decoration: none;
        list-style: none;
    }

    /* ELEGÍ TU PC */

    .computadoras, .computadoras img, .computadoras-flex {
        padding: 1px;
        width: 100%;
        transition: all;
        transition-duration: 2s; 
    }

    
    
    .info {
        padding: 10px;
        font-size: 18px;
        transition-duration: 2s;
        text-align: center;
    }  

}
nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav > ul >li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: all 300ms ease;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}

nav ul li ul {
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    position: absolute;
    top: 90px;
    left: -10px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}


.footer {
    background-color: lightgray;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.foot {
    width: 85%;
    max-width: 880px;
    margin: auto;
    text-align: center;
    list-style: none;
}


/* ELEGÍ TU PC */


.computadoras-flex {
padding: 20px;
display: flex;
flex-direction: row;
gap: 5px;
margin: auto;
}  

.computadoras {
    background-color: crimson;
    color: whitesmoke;
    border: 3px solid  black;
    padding: 2px;
    
}

.computadoras img {
    width: 100%;

}

.info {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; 
    text-align: center;
}

h2 {
    color: whitesmoke;
}
h3 {
    text-align: center;
    font-size: 25px;
    color:  whitesmoke;
    top: 50%;
    bottom: 50%;
}



/* COMPONENTES */


table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
}

td,th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

th {
    background-color: crimson;
    color: white;
}

.comp-amd {
    text-align: center;
}

.comp-int {
    text-align: center;
}


/* NOSOTROS */


.infonos {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    ;
}

.comp {
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
} 


.comp img{
    width: 900px;    
}


.mother {
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .mother img{
        width: 1200px;
    }


/* CONTACTO */


.form-register {
    width: 400px;
    background: #243032;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    color: white;
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
